
  <body>



    <div class="number_of_contacts">
      <p>There are <span><%= Contact.count%></span> contacts</p>
    </div>

    <div class="info_of_contacts">


       <% Contact.all.each do |contact| %>

        <div class="contact_info">
         <h2><%=contact.first_name%> <%=contact.last_name%> <%=contact.email%> </h2>
         <a href="#">Edit</a> | <a href="#">Delete</a>
        </div>

      <% end %>

    </div>



    <br></br>

      <a href="http://localhost:4567/contacts">Contacts</a>
      <br></br>
      <a href="http://localhost:4567/">Home Page</a>

  </body>
HOME PAGE
