
/* header */

header ul {
padding: 0px;
}
header h1 {
  background-color: rgb(51, 51, 51);
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 16px;
}
header li {
  text-align: center;
  background-color: rgb(211, 211, 211);
  color: rgb(255, 255, 255);
  font-size: 1.75em;
  border-bottom: thin solid white;
  padding: 0px;
}
.number_of_contacts span{

  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: RGB(100, 226,209);
}
.number_of_contacts {
  font-size: 25px;
  margin: auto;
  background-color: rgb(240, 126, 108);
  padding: 2px;
  width: 90%;
}
  .info_of_contacts {

    margin: 1px;
    margin: auto;
    width: 90%
  }

  .contact_info {
    padding: 20px;
    background-color: RGB(100, 226,209);
    font-weight: bold;
    margin: 10px 0;

  }

  .contact_info > h2 {
    margin: 0;
  }

  footer {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-align: center;
padding: 1px; }
